<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa Świata - CityFlow</title>
    <link rel="stylesheet" href="css/map.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
</head>
<body>

    <div id="app">
        <header>
            <img src="imgs/logo.png" alt="logo">
            <h1>CityFlow</h1>
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Szukaj przystanku..." />
                <button onclick="searchStop()">Szukaj</button>
            </div>
        </header>
        <div id="map"></div>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="js/map.js"></script>
</body>
</html>
